@value moveIcon from '../../common/size.module.css';

.overflow {
  height: 100%;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  padding-right: 1em;
  padding-top: 1em;
  position: relative;
}
.hide,
.close {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  width: moveIcon;
  height: moveIcon;
  display: inline-block;
}

.hide {
  display: none;
}
