@value colorBlack, colorPrimary from '../../common/color.module.css';
@value spinner from '../../common/size.module.css';

.wrapper {
  width: 100%;
  height: 100%;
  background-color: colorBlack;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: colorPrimary;
  animation: dotElastic 1s infinite linear;
}

.elastic::before,
.elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: colorPrimary;
  animation: dotElasticBefore 1s infinite linear;
}

.elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: colorPrimary;
  animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
